/* Import Google Fonts 'Handjet' with a weight of 600 */
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@600&display=swap');

/* Reset styles for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Define styles for the HTML element */
html {
    height: 100%;
    width: 100%;
}

/* Center all content within the main semantic markup */
main {
    display: flex;
    justify-content: center;
    width: 100%;
}

#index-main {
    overflow: auto; /* allows a scroll effect for content instead of displaying outside of parent */
}

/* Useful class to hide elements and make them reappear (important for precedence) */
.hide {
    display: none !important;
}

/* ------- index.html styling ------- */

/* Centers the welcome container */
#index-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url(../images/stars-and-space.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Creates a box at the top of the page with a centered list */
#navigation-container-index {
    height: 50px;
    width: 50%;
    margin-bottom: 20px;
    background-color: rgb(152, 255, 152);
    box-shadow: 0 0 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

/* Inlines all content within the navigation bar */
#nav-list {
    display: flex;
    list-style: none;
    font-family: 'Handjet', cursive;
    font-size: 1.5rem;
}

/* Margin for list items within the navigation bar */
#nav-list li {
    margin: 0% 20px;
}

/* Style for anchor tags within list items */
#nav-list li > a {
    text-decoration: none;
    color: black;
}

/* Hover effect for anchor tags */
#nav-list li > a:hover {
    color: grey;
}

/* Center text content within the container */
#welcome-container {
    height: 550px;
    width: 50%;
    background-color: rgb(152, 255, 152);
    color: black;
    box-shadow: 0px 0px 5px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 5%;
    text-align: center;
    font-family: 'Handjet', cursive;
    opacity: 0;
    overflow-y: auto;
}

/* Navigation transition class for index.js */
.navigation-container-transition {
    transition: 3s linear;
}

/* Welcome container transition class for index.js */
.welcome-container-transition {
    transition: 3s linear;
    transform: translateY(15px);
}

/* Margin for h1, h2, and p elements within welcome container */
#welcome-container > h1,
#welcome-container > h2,
#welcome-container > p {
    margin: 5px 0;
}

/* Style for paragraph elements within welcome container */
#welcome-container > p {
    font-size: 20px;
    line-height: 20px;
}

/* Style for info container */
#info-container {
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* Margin for h2 elements within info container */
#info-container > h2 {
    margin: 20px 0;
    font-size: 20px;
}

/* Style for anchor tags within span elements */
#info-container > span > a {
    padding: 5px;
    text-decoration: none;
    color: black;
    border: solid black 4px;
    font-size: 1rem;
}

/* Hover effect for anchor tags within span elements */
#info-container > span > a:hover {
    background-color: grey;
}

/* Style for anchor tag to look like a button */
#get-started-btn {
    height: 50px;
    width: 50%;
    background-color: transparent;
    color: black;
    border: solid black 4px;
    padding: 5px;
    font-size: 1.5rem;
    font-family: 'Handjet', cursive;
}

/* Hover effect for the button */
#get-started-btn:hover {
    background-color: grey;
}

/* Footer transition class for index.js */
.footer-index {
    opacity: 0;
}

/* ------- game.html styling ------- */

/* Centers all items */
#body-game {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(../images/stars-and-space.webp);
    background-position: center;
    background-size: cover;
}

/* Creates a box for the navigation */
#navigation-container-game {
    height: 50px;
    width: 50%;
    margin-bottom: 20px;
    background-color: rgb(152, 255, 152);
    box-shadow: 0 0 5px 5px;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;

    margin-bottom: 10px;
}

/* Transition class for game.js */
.game-container-transition {
    transition: 3s linear;
}

#sound-toggle {
    position: absolute;
    display: none; /* Hide the checkbox */
}

#volume-icon {
    font-size: 25px;
    display: none;

    cursor: pointer;
}

.play-button {
    cursor: pointer;
    font-size: 20px;
}

/* Styling for the form where the user inputs their name */
#name-form {
    height: 400px;
    width: 35%;
    background-color: rgb(152, 255, 152);
    border: solid black 4px;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Styles label for input */
#name-form > label {
    font-family: 'Handjet', cursive;
    font-size: 30px;
}

/* Styles for input element on game.html */
input[type=text] {
    background-color: transparent;
    border: solid black 4px;
    margin: 5px;
    height: 50px;
    width: 40%;
    text-align: center;
    color: black;
    font-size: 20px;
    font-family: 'Handjet', cursive;
}

/* Targets the submit button and allows styling to look like a button */
input[type=submit] {
    background: transparent;
    font-family: 'Handjet', cursive;
    font-size: 20px;
    height: 50px;
    width: 40%;
    color: black;
    border: black 4px solid;
    cursor: pointer;
}

/* Hover effect for submit button */
input[type=submit]:hover {
    background-color: grey;
}

/* Create game board */
#game-container {
    height: 600px;
    width: 60%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: solid black 4px;
    position: relative;
}

/* Makes h1 white and gives it a bit more space */
#game-title {
    color: white;
    font-family: 'Handjet', cursive;
    letter-spacing: 6px;
    margin-bottom: 5px;
}

/* Spaces out h2 elements */
#game-banner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 15%;
    width: 100%;
    padding: 5px;
    border-bottom: solid black 4px;
    background-color: rgb(152, 255, 152);
}

#game-banner > h2 {
    font-family: 'Handjet', cursive;
}

/* Fills the rest of the game container out */
#game-board {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Define height of boxes and color them individually */
.box {
    height: 200px;
    width: 200px;
    border: solid black 4px;
    border-radius: 10px;
    margin: 40px;
}

/* Puts child elements within the elements with the class of .row to inline */
.row {
    display: flex;
}

.blue {
    background-color: blue;
    cursor: pointer;
}

.red {
    background-color: red;
    cursor: pointer;
}

.yellow {
    background-color: yellow;
    cursor: pointer;
}

.green {
    background-color: green;
    cursor: pointer;
}

/* Makes button have a pressed look effect by adding class from JavaScript */
.pressed {
    background-color: black;
}

/* Allows background to take precedence over background set already */
.wrong {
    background: red !important;
}

.correct {
    background: darkgreen !important;
}

#footer-game {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#footer-container-game {
    height: 50px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(152, 255, 152);
}

#footer-container-game a > i {
    font-size: 30px;
    margin: 0 20px;
}

/* nth-child targets specified children within a container or a parent element */
#footer-container-game a:nth-child(1) > i {
    color: #171515;
}

#footer-container-game a:nth-child(2) > i {
    color: #0072b1;
}

/* Displays the color grey when you hover over the icon */
#footer-container-game a:nth-child(1) > i:hover {
    color: grey;
}

#footer-container-game a:nth-child(2) > i:hover {
    color: grey;
}

/* ------- howtoplay.html styling ------- */

/* howtoplay container centering all content */
#how-to-play-container {
    height: 550px;
    width: 50%;
    background-color: rgb(152, 255, 152);
    color: black;
    box-shadow: 0px 0px 5px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 5%;
    text-align: center;
    font-family: 'Handjet', cursive;
    overflow-y: auto;
}

#how-to-play-container > p {
    font-size: 20px;
    margin: 10px 0;
}

/* Button styling for button on howtoplay.html */
#get-started-btn-howtoplay {
    height: 50px;
    width: 100%;
    background-color: transparent;
    color: black;
    border: solid black 4px;
    padding: 5px;
    font-size: 1.5rem;
    font-family: 'Handjet', cursive;
    cursor: pointer;
}

/* Hover effect for button */
#get-started-btn-howtoplay:hover {
    background: grey;
}

/* ------- highscore styling ------- */

#highscore-container {
    height: 550px;
    width: 50%;
    background-color: rgb(152, 255, 152);
    color: black;
    box-shadow: 0px 0px 5px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 5%;
    text-align: center;
    font-family: 'Handjet', cursive;
    overflow-y: auto;
    overflow-x: hidden;
} 

/* Styles injected table header and row from template literals */
.th-user-info {
    padding: 0 60px;
    border-bottom: solid black 4px;
}

.tr-user-info {
    font-size: 17px;
}

/* ------- uniform setting body and navigation for all pages ------- */

#format-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url(../images/stars-and-space.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#format-navigation-container {
    height: 50px;
    width: 50%;
    margin-bottom: 20px;
    background-color: rgb(152, 255, 152);
    box-shadow: 0 0 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------- uniform setting footer for pages ------- */

footer {
    width: 100%;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#footer-container {
    height: 50px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(152, 255, 152);
}

#footer-container a > i {
    font-size: 30px;
    margin: 0 20px;
}

/* nth-child targets specified children within a container or a parent element */
#footer-container a:nth-child(1) > i {
    color: #171515;
}

#footer-container a:nth-child(2) > i {
    color: #0072b1;
}

/* Displays the color grey when you hover over the icon */
#footer-container a:nth-child(1) > i:hover {
    color: grey;
}

#footer-container a:nth-child(2) > i:hover {
    color: grey;
}

#educational-text {
    font-size: 0.75rem;
}

/* ------- media responsiveness ------- */

/* When width dimension is less than the set max-width, modify the stylings below and update them */
@media (max-width: 950px) {
    /* game.html styling */
    #game-container {
        width: 85%;
    }
}

@media (max-width: 888px) {
    /* Uniform navigation styling */
    #nav-list {
        font-size: 1.25rem;
    }

    /* index.html styling */
    #welcome-container > h1 {
        font-size: 1.5rem;
    }

    #name-form {
        width: 50%;
    }

}

@media (max-width: 670px) {

    /* Uniform navigation styling */
    #nav-list li {
        margin: 0% 15px;
    }

    #navigation-container-index,
    #format-navigation-container,
    #navigation-container-game {
        width: 70%;
    }

    /* index.html styling */
    #welcome-container {
        width: 70%;
    }

    /* howtopplay.html styling */
    #how-to-play-container {
        width: 70%;
    }

    /* highscore.html styling */
    #highscore-container {
        width: 70%;
    }

    /* Uniform footer styling */
    #footer-container {
        width: 70%;
    }

    /* game.html styling */
    #name-form {
        width: 70%;
    }

    #footer-container-game {
        width: 70%;
    }

    #game-container {
        height: 600px;
    }

    .box {
        height: 150px;
        width: 150px;
        margin: 25px;
    }

    #game-banner {
        height: 10%;
    }

    #game-banner > h2 {
        font-size: 1.25rem;
    }

    #game-title {
        letter-spacing: 3px;
    }
}

@media (max-width: 483px) {

    /* Uniform navigation styling */
    #navigation-container-index,
    #format-navigation-container,
    #navigation-container-game {
        width: 90%;
    }

    /* index.html styling */
    #welcome-container {
        width: 90%;
    }

    /* howtopplay.html styling */
    #how-to-play-container {
        width: 90%;
    }

    #how-to-play-container > p {
        font-size: 1rem;
    }

    /* highscore.html styling */
    #highscore-container {
        width: 90%;
    }

    /* Uniform footer styling */
    #footer-container {
        width: 90%;
    }

    /* game.html styling */
    #name-form {
        width: 90%;
    }

    #footer-container-game {
        width: 90%;
    }

    #game-container {
        height: 550px;
    }

    #volume-icon {
    font-size: 20px;
    }

    .box {
        height: 135px;
        width: 135px;
        margin: 10px;
    }

    #game-title {
        font-size: 1.25rem;
    }

    #game-banner > h2 {
        font-size: 1rem;
        margin: 0;
    }

    /* Adjust image sizes for smaller screens to support website loading cache */

    #format-body {
        background-image: url(../images/stars-and-space-smaller.webp);
    }

    #index-body {
        background-image: url(../images/stars-and-space-smaller.webp);
    }

    #body-game {
        background-image: url(../images/stars-and-space-smaller.webp);
    }

}

@media (max-width: 379px) {

    /* Uniform navigation styling */
    #nav-list {
        font-size: 1rem;
    }

    #nav-list li {
        margin: 0% 10px;
    }

    /* index.html styling */
    #welcome-container > h1 {
        font-size: 1.25rem;
    }

    #welcome-container > p {
        font-size: 0.75rem;
    }

    #info-container > h2 {
        font-size: 1rem;
    }

    /* howtopplay.html styling */
    #how-to-play-container {
        height: 500px;
    }

    #how-to-play-container > h1 {
        font-size: 1.25rem;
    }

    #how-to-play-container > p {
        font-size: 0.75rem;
    }

    /* highscore.html styling */
    #highscore-container {
        height: 500px;
        width: 90%;
    }

    #highscore-container > h1 {
        font-size: 1.25rem;
    }

    .th-user-info > h2 {
        font-size: 1rem;
    }

    .tr-user-info {
        font-size: 0.75rem;
    }

    /* Uniform footer styling */
    #footer-container a > i {
        font-size: 25px;
        margin: 0 15px;
    }

    /* game.html styling */
    #name-form > label {
        font-size: 1rem;
    }

    input[type=text] {
        height: 40px;
        width: 50%;
        font-size: 18px;
    }

    input[type=submit] {
        height: 40px;
        width: 50%;
        font-size: 1rem;
    }

    /* Make game board responsive */
    #game-container {
        width: 90%;
    }

    #volume-icon {
        font-size: 15px;
    }

    .box {
        height: 100px;
        width: 100px;
        margin: 10px;
    }
    
    #game-title {
        font-size: 1rem;
        letter-spacing: 2px;
    }

    #game-banner > h2 {
        font-size: 0.875rem;
    }

}

